button {
    display: inline-block;
    padding: 5x 10px;
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: blue;
    border-radius: 15px;
    box-shadow: 0 6px black;
}
  
button:hover {
    background-color: green
}

button:active {
    background-color: blue;
    box-shadow: 0 2px black;
    transform: translateY(4px);
}